@{ 
  Layout = "_Layout";
}

<h1>Hello Pierre! Welcome to your Vendor Tracker</h1>
<a href="/vendors">Click here to view Pierre's list of official Vendors</a><br>
<a href="/vendors/new">Click here to add a new official Vendor</a>